<form [formGroup]="registerForm" (ngSubmit)="register()">

  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
    class="form-control" 
    formControlName="username" 
    placeholder="Username">
    <div class="invalid-feedback">Username is required</div>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
    class="form-control"
    class="form-control" 
    formControlName="email" 
    placeholder="Email">
    <div class="invalid-feedback">A valid email is required</div>
  </div>

  <div class="form-group">
    <input type="password" 
    [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
    class="form-control" 
    formControlName="password" 
    placeholder="Password">
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password is required</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password must be at least 6 characters</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Password can not be longer than 15 characters</div>
  </div>

  <div class="form-group">
    <input type="password" 
    [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
    && registerForm.get('confirmPassword').touched 
    || registerForm.get('confirmPassword').touched 
    && registerForm.hasError('mismatch')}" 
    class="form-control"
    class="form-control" 
    formControlName="confirmPassword" 
    placeholder="Confirm Password">
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Must confirm password</div>
    <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') 
    && registerForm.get('confirmPassword').touched">Passwords must match</div>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('firstname').errors && registerForm.get('firstname').touched}"
    class="form-control"
    class="form-control" 
    formControlName="firstname" 
    placeholder="First Name">
    <div class="invalid-feedback">A valid first name is required</div>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('lastname').errors && registerForm.get('lastname').touched}"
    class="form-control"
    class="form-control" 
    formControlName="lastname" 
    placeholder="last Name">
    <div class="invalid-feedback">A valid last name is required</div>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}"
    class="form-control"
    class="form-control" 
    formControlName="city" 
    placeholder="City">
    <div class="invalid-feedback">A valid first name is required</div>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('prov').errors && registerForm.get('prov').touched}"
    class="form-control"
    class="form-control" 
    formControlName="prov" 
    placeholder="Province/State">
    <div class="invalid-feedback">A valid province or state is required</div>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}"
    class="form-control"
    class="form-control" 
    formControlName="country" 
    placeholder="Country">
    <div class="invalid-feedback">A valid country is required</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>